.navbar {
  background-color: #333; /* Cor de fundo da barra de navegação */
  color: #fff; /* Cor do texto na barra de navegação */
  padding: 15px; /* Espaçamento interno para o conteúdo dentro da barra de navegação */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold;
}

/* Estilizando os links da barra de navegação */
.navbar a {
  text-decoration: none; /* Remover sublinhado dos links */
  color: #fff; /* Cor do texto dos links */
  margin: 0 10px; /* Espaçamento horizontal entre os links */
}

/* Alterar cor do link quando o mouse passar por cima */
.navbar a:hover {
  color: #ff7171; /* Cor do texto quando o mouse passa por cima */
}

/* Remove os indicadores de lista e alinha os itens horizontalmente */
ul, ol {
  list-style: none;
  padding: 0; /* Remova qualquer preenchimento padrão da lista */
  display: flex; /* Use um display flex para alinhar os itens horizontalmente */
}

/* Estilize os itens da lista (li) conforme necessário */
li {
  margin-right: 10px; /* Adicione espaço entre os itens */
}

.nav-center{
  padding-left: 580px;
}

#nav-perfil{
  padding-left: 590px;
}